body {
    background-color: rgb(25, 39, 100);
}

.gameDescription {
    /* display: flex; */
    /* margin: auto; */
    text-align: center;
    margin: 10px;
    /* align-items: center; */

}
.gameDescription h3 {
    border-color: white;
    border: 10px;
    border-style: double;
    padding: 5px;
    /* background-color: aqua; */
}

#grid_container {
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: rgb(25, 39, 100);
    display: flex;
    flex-direction: column;
}

.verticals {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.horizontals {
    margin: 0.5px;
    aspect-ratio: 1/1;
    flex: 1 0 0;
    background-color: rgb(60, 131, 211);
}

.horizontals:hover {
    background-color: rgb(0, 0, 0);
}

#header {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

h3 {
    color: white;
    margin: 0;
    vertical-align: middle;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(60, 131, 211);
    opacity: 0.8;
    color: white;
    font-weight: 650;
}

button:hover {
    opacity: 1;
    cursor: grab;
}
